
 input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid white10;
    border-radius: 7px;
}

@media screen and (max-width: 480px) {
    .header {
        /* //height: 80px; */

        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        left: 0;
        bottom: 0;
        margin: 0;
        text-align: center;
        background: rgba(97, 4, 141, 1);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
        font-size: 14px;
        line-height: 25px;
    }
}
@media screen and (min-width: 480px) {
    .header {
        /* //height: 80px; */
        padding-left: 15%;
        padding-right: 10%;
        width: 70%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        left: 15%;
        right: 15%;
        bottom: 0;
        margin: 0;
        /* float: left; */
        text-align: center;
        background: rgba(97, 4, 141, 1);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (min-width: 480px) {
    input[type=text] {
        width: 50%;
        padding: 10px 10px;
        margin: 2px 0;
        box-sizing: border-box;
        border: 2px solid white10;
        border-radius: 7px;
    }
}

@media screen and (max-width: 480px) {
    input[type=text] {
        width: 75%;
        padding: 10px 10px;
        margin: 2px 0;
        box-sizing: border-box;
        border: 2px solid white10;
        border-radius: 7px;
    }
}

.mail:after {
    content: " *";
    color: red;

}
